.login,
.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 .login {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}


footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/* Estilos login */

body {
  background-color: #f8f9fa;
}

.loginimg {
  width: 100%;
}

.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  padding-top: 50px;
  margin: auto;
  font-family: 'Raleway', serif !important;
  background-color: #f8f9fa ;
}

.form-signin h1 {
  font-weight: 500;
}

.form-floating {
  position: relative;
}

.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem .75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}

.mb-1 {
  margin-bottom: 1.5rem !important;
}

.mb-2 {
  margin-bottom: 4rem !important;
}

#btn {
  margin-bottom: 4rem;
  width: 100% !important;
  color: #fff !important;
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
  padding: .5rem 1rem !important;
  font-size: 1.25rem !important;
  border-radius: .3rem !important;
  display: inline-block;
  font-weight: 500 !important;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out , background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#btn:hover {
  background-color: #0d5fda !important;
}

/* Estilos buscador */
.search-form {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  width: 90%;
}

.search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

#product-container {
  padding: 40px;
  padding-top: 10px;
}

#product-container li {
  list-style-type: none;
}

#product-container ul {
  padding: 0;
}

#product-container .imagenes {
  display: flex;
}

.productTitle {
  padding: 20px;
  color: rgb(58, 60, 61);
  font-weight: 400;
}

.comentary {
  padding: 40px;
  padding-top: 10px;
}

.productCom {
  padding: 20px;
  padding-left: 0;
  color: rgb(58, 60, 61);
  font-weight: 400;
  font-size: 1.8em;
}

.checked {
  color: orange;
}

#comBtn {
  margin-bottom: 4rem;
  margin-top: 20px;
  color: #fff !important;
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
  padding: .5rem 1rem !important;
  font-size: 1rem !important;
  border-radius: .3rem !important;
  display: inline-block;
  font-weight: 500 !important;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  padding: .375rem .75rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out , background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#comBtn:hover {
  background-color: #0d5fda !important;
}

#score {
  width: 100px;
}

#prodReview {
  width: 50%;
}

#relProdList {
  padding-left: 0;
  display: flex;
  flex-direction: row;
}

#relProdList li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0087F7;
  padding: 20px;
  padding-bottom: 0;

  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
}

.img-relProd {
  padding: .25rem;
  max-width: 100%;
  height: auto;
}


.dropdown .dropbtn {
  border: none;
  outline: none;
  color: rgba(255,255,255,.55);
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}